.DS_Store
node_modules
dist
dist-ssr
*.local

.gradle
build

.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.iml
target
log
/log
*.yml
*.jks

*.pem
*.p12

src/build
src/build/*
src/cmake-build-debug
src/cmake-build-debug/*
src/common/cmake_install.cmake
src/common/libcommon.a
src/common/Makefile
src/common/CMakeFiles
src/common/CMakeFiles/*
src/cmake_install.cmake
src/CMakeCache.txt
src/share_bike
src/Makefile
src/CMakeFiles
src/CMakeFiles/*